/* ----------------------------
	Typo
---------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, .box > *, textarea, input {
	font-family: 'Roboto', sans-serif;
	color: #1d1d1d;
	overflow: hidden;
}
/* button value */
button{
	font-size:auto;
}
/* header */
#header{
	background: #00AEEF;
}
#header li{
	list-style: none;
	text-decoration: none;
}

#headerRight{
	margin-bottom:30px;
}
#header #espace .glyphicon, #contentBlog .glyphicon{
	font-size: 15px;
	color:white;
	display: block;
}
#header #espace a, #contentBlog a{
	font-size: 11px;
	margin-right: 10px;
}
#espace{
	padding-left:20%;
	margin-bottom: 60px;
}
#conseil  .glyphicon{
	font-size: 40px;
	color:white;
}

.rendezvous, .telecharger{
	background: white;
	color:black;
	width:85%;
	border:none;
	border-radius: 5px;
	text-align: left;
	white-space:normal;
	
}
#footer button{
	display: flex;
	width: 100%;
	color:black;
	align-items: center;
}
#footerContact{
	display: flex;
}
.rendezvous span,#header span .telecharger span{
	display:block;
	text-align: left;
}


#conseil, #align{
	height: 50px;
	margin-bottom:5px;

}


#footer, #header, #header a, #footer a{
	color:white;
}
#footer li{
	list-style:none;
}

/* footer */
#footer{
	margin-top: 10px;
}


#footerContact .fa{
	font-size: 30px;
	padding-top: 8px;
	margin-right: 4px;
}

#sociaux .fa{
	font-size: 15px;
	color:00adef;
}
#footer li a{
	font-size: 11px;
}
#trois li a{
	line-height: 4;
	margin-bottom: 40px;
	text-decoration: none;
	font-size : 18px;
}

#trois .glyphicon{
	color:#00aeef;
	background:transparent;
	font-size: 25px;
	top:6px;
	margin-right:15px;
}
#footerContact .fa, #header .fa{
	background: transparent;
	border:none;
	color:black;
}

ul{
	padding-left:0;
}

#faq, #plan, #condition{
	padding-top:5px;
	border-top:3px white dotted;
}
#condition, #copiright{
	color:#c5c7c4;
}

#line{
	border-top: 3px solid white;
}

.ContactCol{
	font-size:17px;
}

/* content blog */

#ctnblog{
	background: #fff;
	margin-bottom: 5%;
	padding-bottom:8%;
}


#actu{
	margin-top: 30px;
}

.categorie, .motCle, .offre{
	border-radius: 4px;
	box-shadow: #969694 3px 4px 4px;
	margin-top: 20px;
}

#header, #footer, #ctnblog{
	padding-left: 10%;
	padding-right: 10%;
}

#conseil h2{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
#sociaux .fa{
	display:inline-block;
	color: #00aeef;
	font-size:30px;
}
#sociaux li{
	padding-right: 15px;
	display: inline;
}
/* inscription */

.inscription .panel-default{
	margin-left: 60%;
	width: 20%;
	min-width:300px;
}

#accord , #accord:hover{
	color: black;
	text-decoration: none;
}


/* ----------------------------
	STRUCTURE
---------------------------- */
html {
  box-sizing: border-box;

	width:100%;
	margin: 0;
}
a{
	color: #00AEEF;
}
#root{
	position: absolute;
	background: #00425a;
	width:100%;
	overflow: scroll;
	height: 100%;
}
.container{
	margin-top: 15%;
	margin-bottom: 12%;
}
h5{
	padding-bottom: 5px;
	text-align: center;
	color:#969694 !important;
}


/* recherche input */
#search input{
	border: none;
	background: transparent;
	color:white;
	border-bottom: 1px white solid;
}


.navbar{
	border-radius:0px;
	width:30%;
	min-width: 450px;
}
#navbar{
	padding: 0%;
}
.navbar a{
	font-size: 11px;
	padding: 0;
	margin: 5.3px;
	color: white;
}

.navbar button{
	background: transparent;
	border:none;
}
.navbar .glyphicon{
	color: white;
}
.navbar ::placeholder{
	color: white;
}
.glyphicon {
    font-size: 12px;
		color: #396c7f;
}

#labcheck{
	padding: 0;
	margin:0px;
	position: relative;
	top:3px;

}

.inscription{
	margin-top: 5%;
}

#con{
	color:#1a1a;
}

.bolo{
	display: flex;
}
.has-feedback input {
	height: 29px;
}

.row-action{
	padding-left: 7%;
	padding-right: 4.5%;
}
#headerRight a{
	text-align: center;
}
#header .contact button{
	background: white;
}
.contact button{
	border:none;
	border-radius: 3px;
	display: flex;
	width:95%;
	font-size: 12px;
	align-items: center; 
}


#ctnblog #conseil, #ctnblog #align, #ctnblog .glyphicon{
	color:#00405b;
}

.contactBody .right, .contactBody .left{
	width:400px;
	height:50%;
	border-bottom:2px grey solid;
}

.contactBody{
	display: flex;
}

#ctnblog .contact{
	width: 450px;
}
#ctnblog .contact button, #ctnblog .contact span{
	background: #00405b;
	color:white;
}

.contact span{
	color:black;
	text-align:center;
	display: block;
}

.contact span.fa{
	width:20%;
}

/* button code parrain */
#code{
	height: 25px;
	background: #00405b;
	border:none;
}
#creer{
	margin-top: 60%;
	height:30px;
	background: #00405b;
	border:none;
}

#rot {
	 color: #fff;
	 text-shadow: 1px 1px 1px red;
	 font-size: 3em;
}

#top{
	padding: 5px;
	text-align: center;
	border-top: 1px #969694 solid;
	color: inherit;

}
.inscription .row{
	padding-left: 28px;
}

#log{
	width: 100%;
	height: 30px;
	margin-bottom: 3px;
	background: #00405b;
	border:none;
}

body {
	margin:0;
  width:100%;
	padding: 0;
	font-size: 20px;

}
.connexionBox {
	background-color: #eceff1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.connexion {
	max-width: 500px;
	font-size: 24px;
}
.connexion > * {
	width: 100%;
}
.connexion > input {
	box-sizing: border-box;
	font-size: 24px;
	padding: 5px;
	border: 5px solid #2196F3;
	border-width: 0 0 5px 0;
	outline: none;
}
.box {
	margin: auto;
	display:flex;
	justify-content: center;
 	flex-wrap: wrap;
 	align-items: flex-end;
	width: 100%;
	max-width: 500px;
	height: calc(100vh - 100px);
	padding: 50px 0;
	/*border: 5px solid purple;*/
}

.box > * {
	width: 100%;
}

/* ----------------------------
	MESSAGES
---------------------------- */

.messages {
	flex: 1 1 100%;
	/*border: 5px solid red;*/
	box-sizing: border-box;
	align-self: flex-end;
	max-height: calc(100vh - 310px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.messages::-webkit-scrollbar {
    width: 0.4em;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #eceff1;
}

/* ----------------------------
	MESSAGE
---------------------------- */

.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.message > * {
	padding: 5px 10px;
	max-width: 75%;
	border-radius: 2px;
	margin: 10px 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.not-user-message {
	background-color: #eceff1;
	align-self: flex-start;
	position: relative;
}

.not-user-message:after {
	content: '';
	position: absolute;
	top: -7px;
	left: 10px;
	width: 0;
	border-width: 0 10px 7px 0;
	border-style: solid;
	border-color: #eceff1 transparent;
}

.user-message {
	background-color: #2196F3;
	color: #fff;
	align-self: flex-end;
	position: relative;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: #2196F3 transparent;
}

/* ----------------------------
	FORMULAIRE
---------------------------- */

form{
	margin-top: 0px;
}

.form {
	align-self: flex-end;
}

.form > * {
	width: 100%;
}

textarea {
	box-sizing: border-box;
	height: 120px;
	border: 5px solid #2196F3;
	border-width: 0 0 5px 0;
	background-color: #ECEFF1;
	outline: none;
	font-size: 20px;
	padding: 5px 10px;
}

.info {
	text-align: right;
	padding-right: 5px;
}

.container button {
	font-size: 20px;
	border: none;
	color: white;
	background-color: #2196F3;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
}

button:disabled {
	background-color: #eceff1;
	cursor:not-allowed;
	color: white;
}

/* ----------------------------
	NotFound
---------------------------- */

.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #eceff1;
}


.apropos .contact{
	width:20%;
	display: block;
}

.glyphicon-arrow-right{
	border-radius:50px;
	border:2px solid white;
	color:white !important;
}

.col-sm.contOffr{
	width: 27%;
}

#apropos{
	display:flex;
	margin-top: 5%;
}

.actu{
	border-radius:3px;
	background: #00aeef;
}
.actu h1{
	color:white;
}

.actu button{
	background: #00405b;
	border:none;
	color:white;
	border-radius:3px;
}

.offre{
	color:#00405b;
}

.group label{
	display: inline-block;
}
.group label,.group input, .group textarea{
	width: 100%;
	border-radius: 3px;
}
.group input, .group textarea{
	background: #c5c7c4;
	border: none;
	margin-bottom: 5px;
}

.group{
	margin-left: 10%;
	margin-right: 10%;
	
}
#ctnblog{
	padding-top: 5%;
}

.color1{
	background-color: #ccd9df;
}
.color1, .color2{
	padding: 2px 0 2px 5px;
}
.color2{
	background-color:#a0cbdc;
}
.service{
	border-collapse: separate;
	width: 100%;
	border-spacing: 4px;
	font-size: 12px;
}

.service td{
	display: flex;
}

.service .glyphicon{
	color: white !important;
	border-radius:50px;
	background: #00405b;
	padding: 1%;

}

.a{
	width:90%;
}